<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>

<body>
	<div id="app">
		<ul>
			<!-- v-for="item in data" iterates over given data, and populates attached element,
				duplicating it for each item in the given data

				the `item` in question is created by VueJS, and thus lives in it

				Depending on what you're looping over, the `item` can have different syntax:
				
				For arrays, it is (item, index)
				For objects, it is (value, key, index)

				if you want to store the rendered elements as they are made,
				add :key="item" to the attributes
				This stores not a reference, but the element proper,
				to the side for use later if need be 
			-->

			<li v-for="(ingredient, i) in ingredients" :key="ingredient">
				<p>{{ ingredient }} ({{ i+1 }})</p>
			</li>
			<li v-for="person in people">
				<h1>{{ person.name }}</h1>
				<h3>{{ person.age }}</h3>
				<p>{{ person.color }}</p>
				<!-- or GO DEEPER and loop over the items IN the items
					
					Since each person is an object of k:v pairs,
					you can just set it up like this to print each pair
				-->
				<div v-for="(v, k, i)  in person">
					{{ i+1 }}. {{ k }}: {{ v }}
				</div>

				<!-- wanna loop over numbers? -->
				<div v-for="n in 5">
					{{ n }}
				</div>
			</li>

			<!-- don't forget: <template> tags allow you to attach logic
				to "ghost" elements that themselves are not part of the DOM,
				but their children are 

				<template v-for="person in people">
					<h1>{{ person.name }}</h1>
					<h3>{{ person.age }}</h3>
					<p>{{ person.color }}</p>
				</template>
			-->
		</ul>

	</div>
	<script src="app.js"></script>
</body>

</html>